.pageTwo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  >ul{
    height: 500px;
    border-right: 1px dashed red;
    padding: 0 40px 0 20px;
    >li{
      cursor: pointer;
      margin-bottom: 15px;
      padding: 5px 10px;
      border-radius: 5px;
      &:hover{
        background-color: #f8f8f8;
      }
      &:first-child{
        border: 1px solid red;
      }
      &:nth-of-type(2){
        border: 1px solid green;
      }
      &:last-child{
        border: 1px solid blue;
      }
    }
  }
  >div{
    padding-left: 20px;
    ul{
      padding-left: 20px;
    }
  }
}