@import "dominant.scss";
*{
  font-family: "Microsoft YaHei",Helvetica,Arial,microsoft yahei,simsun;
  padding: 0;
  margin: 0;
  color: $default-fontColor
}
li{list-style: none}
button,input,select{outline: none}
a{
  text-decoration: none;
  color: $font-Whitecolor;
  &:hover{
    color: $dominant-hue;
  }
}
body{
  background-color: $body-bgColor;
}

::-moz-focus-inner{border:none;}/*火狐按钮点击后虚线框去除*/

