.pageOne{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  >ul{
    border-right: 2px dashed red;
    padding: 0 20px 0 40px;
    height: 500px;
    >li{
      margin-bottom: 15px;
      button{
        cursor: pointer;
        margin-left: 15px;
      }
    }
  }
}