@import "../../../../asset/style/dominant";

#asideArea {
  width: 115px;
  height: 100%;
  padding-left: 15px;
  //box-shadow: 1px 0 15px 0 $default-fontColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid;

  > ul {
    margin-top: 10px;

    > li {
      &:first-child {
        font-weight: bold;
        margin-bottom: 10px;
      }

      &:not(:first-child) {
        margin-bottom: 5px;
      }

      .activeLink {
        color: $dominant-hue;
      }
    }
  }

  > span {
    text-decoration: underline;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
      color: $dominant-hue;
    }
  }
}
