$dominant-hue: #f73352; // 主色调
$default-fontColor: #333; // 默认字体颜色
$line-divide: rgba(49, 49, 49, 0.3);
$dialog-shadow-bgColor: $line-divide;
$dialog-border-color: #eee;
$dialog-box-shadow-color: rgba(255, 255, 255, 0.3);
$dialog-header-bgColor: #fafafa;
$dialog-header-title-fontColor: #272733;
$dialog-line-color: #e8e8e8;
$dialog-btn-border-color: #d9d9d9;
$dialog-btn-fontColor: #rgba(0, 0, 0, 0.65);
