$card-even-bgColor: #eee;
$card-odd-bgColor: #dbf4f3;

ul.gridArea {
  > li.gridRow {
    overflow-y: auto;
    list-style: none;

    &:nth-child(odd) {
      > ul.lineRow {
        > li.lineCol {
          &:nth-child(even) {
            background-color: $card-even-bgColor;
          }

          &:nth-child(odd) { /* stylelint-disable-line */
            background-color: $card-odd-bgColor;
          }
        }
      }
    }

    &:nth-child(even) {
      > ul.lineRow {
        > li.lineCol { /* stylelint-disable-line */
          &:nth-child(even) {
            background-color: $card-odd-bgColor;
          }

          &:nth-child(odd) {
            background-color: $card-even-bgColor;
          }
        }
      }
    }

    > ul.lineRow { /* stylelint-disable-line */
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: flex-start;

      > li {
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        flex: 1;

        &.isBlank {
          opacity: 0;
        }
      }
    }
  }
}
