.modalOuter{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  justify-content: center;
  >div{
    z-index: 999;
    min-width: 200px;
    max-width: 400px;
    border-radius: 5px;
    background: rgba(76,76,76,0.6);
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
    text-align: right;
    >p{
      text-align: left;
      color: white;
      margin: 0 20px 20px 20px;
      >img{
        vertical-align: middle;
        overflow: hidden;
        margin-right: 10px;
      }
    }
    >.closeTips{
      width: 12px;
      height: 12px;
      display: inline-block;
      margin: 10px 10px 0 0;
      background-image: url("./close.png");
      background-repeat: no-repeat;
      background-position: 0 0;
      &:hover{
        cursor: pointer;
        background-position: 0 -14px;
      }
    }
  }
}